@import url('header.css');
@import url('footer.css');

.container-conteds-line ul li {
    border: 1px solid greenyellow;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}

.container-conteds-line {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.container-conteds-line-produt {
    border: 2px solid greenyellow;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    padding: 10px;
}

.container-conteds-line-text {
    background-color: aliceblue;
}


.container-tittle {
    margin-top: 15px;
    text-align: center;
    font-size: 2em;
}

.btnCarrinho {
    padding: 7px;
    font-size: 1rem;
    font-weight: 700;
    background-color: greenyellow;
    border-radius: 8px;
    margin: 5px;
}

.btnCarrinho:hover {
    transform: scale(1.1);
    transition: .3s;
}

.desc p {
    text-justify:inter-cluster;
}

