@import url('reset.css');
@import url('global.css');
body {
    background-color: rgb(162, 229, 255);
}

.container-header-hub ul li {
    display: inline-block;
    margin: 5px;
    
}

.container-header {
    text-align: center;
    font-size: 1em;
}

.container-header-hub-register ul li {
    display: inline-block;
    border-radius: 0.5rem;
}

.tier {
    padding: 8px;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    font-weight: 700;
    background-color: aliceblue;
}

.container-header-hub-register ul li{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgb(21, 255, 0); 
    font-size: 1.2em;
    font-weight: 500;
    background-color: aliceblue;
}

.container-header-search input {
    width: 800px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    font-size: 1.2em;
    margin-top: 8px;
}

.container-conteds-line ul li {
    border: 1px solid greenyellow;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
    display: inline-block;
    margin: 10px;
}

.container-conteds-line {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.container-conteds-line-produt {
    border: 2px solid greenyellow;
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    padding: 10px;
}

.container-conteds-line-text {
    background-color: aliceblue;
}

.network ul li {
    display: inline-block;
    margin-left: 10px;
}

.container-network{
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(37, 37, 37);
    border-top: 1px solid white;
    
}

.container-network p {
    color: rgb(219, 110, 9);
}

.container-network a {
    color: rgb(219, 110, 9);
}

.tier:hover {
    background-color: orange;
    border: 2px solid black;
    transform: scale(1.1);
    transition: .3s;
}



.container-tittle {
    margin-top: 15px;
    text-align: center;
    font-size: 2em;
}

.paytype {
    margin-top: 1.4rem;
    height: 100%;
    width: 100rem;
    background-color: rgb(44, 44, 44);
}

.paytype h2 {
    color:  rgb(219, 110, 9);
}

.btnCarrinho {
    padding: 7px;
    font-size: 1rem;
    font-weight: 700;
    background-color: greenyellow;
    border-radius: 8px;
    margin: 5px;
}

.btnCarrinho:hover {
    transform: scale(1.1);
    transition: .3s;
}

.desc p {
    text-justify:inter-cluster;
}

.paytype ul li img{
    height: 60px;
    width: 120px;
}

.paytype ul li{
    display: inline-block;
}